In [1]:
x = 3
print(x)

3

In [2]:
y = 3.112
type(x)
type(y)

float

In [3]:
type(x)

int

In [4]:
z = 'Sanfyu'
type(z)

str

In [5]:
x = [14, 67, 9]

In [6]:
print(x)

[14, 67, 9]

In [7]:
type(x)

list

In [8]:
x[0]

14

In [9]:
x[1] = 33

In [10]:
x

[14, 33, 9]

In [11]:

z = (3, 5, 7)

In [12]:
z[1] = 7

TypeError: 'tuple' object does not support item assignment

In [13]:
c = {1:3, 'coy': 4}

In [14]:
c[1]

3

In [15]:
 c['coy']

4

In [1]:
x = open('Python_Intro.ipynb', 'r')

In [18]:
type(x)

_io.TextIOWrapper

In [19]:
x

In [20]:
(x,y,z) = 5,10,7

In [21]:
print(x)
print(y)
print(z)

5
10
7

In [23]:
(x, y, z) = 1,1,1

In [28]:
x = y = z = 7.4

In [32]:
Math.floor(y)

NameError: name 'Math' is not defined

In [2]:
(x,y,z) = 2,3,4

In [3]:
print(x)

2

In [4]:
s=d=f=3

In [5]:
print(f)

3

In [6]:
print(x,y,z)

2 3 4

In [7]:
avd = 5

In [8]:
_4f = 3

In [13]:
e = 'sd'

In [ ]:
v`

In [12]:
a1 = 4 a2 = 5

SyntaxError: invalid syntax (<ipython-input-12-2f6e8b976228>, line 1)

In [14]:
x = 3
y = 6

In [15]:
print(x == y)

False

In [16]:
print(x === y)

SyntaxError: invalid syntax (<ipython-input-16-dfac26657532>, line 1)

In [17]:
x ** y

729

In [18]:
x + y

9

In [19]:
x - y

-3

In [20]:
2 / 3

0.6666666666666666

In [21]:
2 // 3

0

In [22]:
17 /2

8.5

In [23]:
17 // 2

8

In [24]:
# string operations

SyntaxError: invalid syntax (<ipython-input-24-63498c41d3f8>, line 1)

In [25]:
name = 'Augustine Ofoegbu'

In [26]:
print(name[4])

s

In [27]:
print(name[:6])

August

In [28]:
print(name[6:])

ine Ofoegbu

In [29]:
print(name[2:6])

gust

In [30]:
# string reversal and concatenation
# for loop
# case conversion

In [31]:
print(name[3:29])

ustine Ofoegbu

In [33]:
print(len(name))

17

In [35]:
# name.toUpperCase()

AttributeError: 'str' object has no attribute 'toUpperCase'

# Conversions

In [1]:
x = "192"
type(x)

str

In [36]:
# numbers

In [37]:
num = 45
type(num)

int

In [38]:
num = 79542456432
type(num)

int

In [41]:
num = 2 + 5j

In [42]:
type(num)

complex

In [43]:
num.real

2.0

In [46]:
num.imag

5.0

In [47]:
type(num.imag)

float

In [48]:
num1 = 10
num2 = 2

In [49]:
print(num1 + num2)

12

In [50]:
print(num1 * num2)

20

In [51]:
print(num1 / num2)

5.0

In [52]:
type(num1 / num2)

float

In [53]:
num1 // num2

5

In [54]:
num2**num1

1024

In [55]:
num1 % num2

0

In [56]:
10%3

1

In [57]:
num2 % num1

2

In [58]:
3%10

3

In [59]:
4%8

4

In [60]:
# conversions
# constants

In [61]:
x = "192"

In [62]:
type(x)

str

In [63]:
int(x)

192

In [64]:
x = int(x)
print(type(x))

<class 'int'>

In [65]:
x = float(x)
type(x)

float

In [69]:
6.3|3.2

TypeError: unsupported operand type(s) for |: 'float' and 'float'

In [2]:
# conversions

In [15]:
x = "192 "
type(x)

str

In [16]:
int(x)

192

In [17]:
x = float(x)

In [18]:
print(x)

192.0

In [19]:
x = complex(x)
print(x)

(192+0j)

In [10]:
x = bool(x)

In [11]:
x

True

In [12]:
x = complex(x)

In [13]:
print(x)

(1+0j)

In [20]:
print(x)

(192+0j)

In [22]:
print(complex(2,6))

(2+6j)

<!-- Functions -->

#  Functions

In [23]:
x = -7.5
print(abs(x))

7.5

In [29]:
import math
x = 10
print(math.exp(x))

22026.465794806718

In [30]:
math.e

2.718281828459045

In [31]:
math.pi

3.141592653589793

In [33]:
print(math.sqrt(6))

2.449489742783178

In [34]:
max(1,34,576)

576

In [35]:
min(3,56,879,-2)

-2

In [36]:
x = [1,'e', 3, 'jeyulc']
type(x)

list

In [38]:
x[2]

3

In [39]:
# creating lists

In [40]:
num = [1,2,3,4,5]

In [41]:
print(num)

[1, 2, 3, 4, 5]

In [42]:
letter = ['I', 'am', 'coming', 'tommorrow']

In [43]:
letter = ['a', 'b', 'c', 'd', 'e']

In [44]:
# list methods

In [46]:
stg = ['get', 'certified', 'today']

In [ ]:
letter

In [47]:
mat = [[1,2],['a','b']]

In [48]:
print(mat)

[[1, 2], ['a', 'b']]

In [49]:
# accessing list elements

In [51]:
print(stg)

['get', 'certified', 'today']

In [53]:
stg[2]

'today'

In [55]:
stg[:1]

['get']

In [56]:
stg[1:]

['certified', 'today']

In [57]:
stg[-2]

'certified'

In [58]:
stg[-1]

'today'

In [61]:
name = input("Enter your name: ")
print('Welcome, ', name)

Enter your name: Ogelo
Welcome,  Ogelo

In [62]:
stg[::2]

['get', 'today']

In [63]:
stg[::1]

['get', 'certified', 'today']

In [64]:
an = ['awka', 'uga', 'nise', 'nibo', 'agulu', 'nanka']

In [67]:
an[::1]

['awka', 'uga', 'nise', 'nibo', 'agulu', 'nanka']

In [68]:
an[::2]

['awka', 'nise', 'agulu']

In [69]:
an[::3]

['awka', 'nibo']

In [70]:
an[::-1]

['nanka', 'agulu', 'nibo', 'nise', 'uga', 'awka']

In [71]:
an[:-3]

['awka', 'uga', 'nise']

In [72]:
# list operations

In [73]:
z = [0]*100
print(z)

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [74]:
print(an)

['awka', 'uga', 'nise', 'nibo', 'agulu', 'nanka']

In [75]:
print(stg)

['get', 'certified', 'today']

In [78]:
conc = an + stg

In [79]:
print(conc)

['awka', 'uga', 'nise', 'nibo', 'agulu', 'nanka', 'get', 'certified', 'today']

In [80]:
var = list('hey there')
print(var)

['h', 'e', 'y', ' ', 't', 'h', 'e', 'r', 'e']

In [81]:
named = list("Augustine Ofoegbu")
print(named)

['A', 'u', 'g', 'u', 's', 't', 'i', 'n', 'e', ' ', 'O', 'f', 'o', 'e', 'g', 'b', 'u']

In [82]:
named[2]

'g'

In [83]:
print(named[:5])

['A', 'u', 'g', 'u', 's']

In [84]:
print(named[5:])

['t', 'i', 'n', 'e', ' ', 'O', 'f', 'o', 'e', 'g', 'b', 'u']

In [85]:
print(named[::1])

['A', 'u', 'g', 'u', 's', 't', 'i', 'n', 'e', ' ', 'O', 'f', 'o', 'e', 'g', 'b', 'u']

In [86]:
print(named[::2])

['A', 'g', 's', 'i', 'e', 'O', 'o', 'g', 'u']

In [87]:
print(named[::2])

['A', 'g', 's', 'i', 'e', 'O', 'o', 'g', 'u']

In [88]:
print(named[::3])

['A', 'u', 'i', ' ', 'o', 'b']

In [89]:
print(named[::-1])

['u', 'b', 'g', 'e', 'o', 'f', 'O', ' ', 'e', 'n', 'i', 't', 's', 'u', 'g', 'u', 'A']

In [90]:
num = [1,2,3,4]

In [91]:
one, *other = num
print(one)
print(other)

1
[2, 3, 4]

In [93]:
one, two, *other = num
print(one)
print(two)
print(other)

1
2
[3, 4]

In [94]:
# list methods

In [95]:
num

[1, 2, 3, 4]

In [96]:
num.append(6)

In [97]:
print(num)

[1, 2, 3, 4, 6]

In [98]:
num.extend(stg)

In [100]:
print(num)

[1, 2, 3, 4, 6, 'get', 'certified', 'today']

In [101]:
num.insert(5,"solar")

In [102]:
num

[1, 2, 3, 4, 6, 'solar', 'get', 'certified', 'today']

In [103]:
num.remove('solar')

In [104]:
print(num)

[1, 2, 3, 4, 6, 'get', 'certified', 'today']

In [105]:
var1 = ['b','f','a','q','r']
var1.sort()

In [106]:
print(var1)

['a', 'b', 'f', 'q', 'r']

In [107]:
# Built-in functions with lists

In [108]:
x=[9,17,14,4,90,55]

In [109]:
len(x)

6

In [110]:
min(x)

4

In [111]:
max(x)

90

In [112]:
sum(x)

189

In [113]:
sum(x)/len(x)

31.5

In [ ]:
# Tuples
# They are similar to lists, but they cannot be modified after creation

In [114]:
x = (1, 89, 'A', 0, 'B')

In [118]:
x[2:]

('A', 0, 'B')

In [119]:
emp = ()
type(emp)

tuple

In [120]:
print(emp)

()

In [121]:
oge = []

In [122]:
type(oge)

list

In [124]:
oge.append('six')

In [125]:
oge

['six']

In [128]:
city = "Pune",

In [129]:
type(city)

tuple

In [130]:
city = ("Pune")
city

'Pune'

In [136]:
city = ("Pune",)
type(city)

tuple

In [137]:
city

('Pune',)

In [141]:
city=("Pune", "Bangalore", "Delhi", "Mumbai")
city

('Pune', 'Bangalore', 'Delhi', 'Mumbai')

In [142]:
list1=[1,2,3,4]
tuple1=(1,2,3,4)
list1.append(5)
print(list1)

[1, 2, 3, 4, 5]

In [143]:
tuple1.append(5)

AttributeError: 'tuple' object has no attribute 'append'

In [144]:
print(city)

('Pune', 'Bangalore', 'Delhi', 'Mumbai')

In [145]:
city[1]

'Bangalore'

In [146]:
city[-1]

'Mumbai'

In [147]:
# concatenation

In [148]:
print(city)

('Pune', 'Bangalore', 'Delhi', 'Mumbai')

In [149]:
num=1,2,3,4

In [150]:
print(city+num)

('Pune', 'Bangalore', 'Delhi', 'Mumbai', 1, 2, 3, 4)

In [ ]:
# nesting

In [151]:
nest=(city,num)
print(nest)

(('Pune', 'Bangalore', 'Delhi', 'Mumbai'), (1, 2, 3, 4))

In [152]:
nest2 = (num,city)
print(nest2)

((1, 2, 3, 4), ('Pune', 'Bangalore', 'Delhi', 'Mumbai'))

In [154]:
# Repetition

In [158]:
rep=("Python",)*5
rep

('Python', 'Python', 'Python', 'Python', 'Python')

In [159]:
rep=("Python",)
print(rep*4)

('Python', 'Python', 'Python', 'Python')

In [160]:
rep

('Python',)

In [161]:
# Slicing

In [162]:
num

(1, 2, 3, 4)

In [163]:
num[1:]

(2, 3, 4)

In [164]:
num[::-1]

(4, 3, 2, 1)

In [165]:
# Unpacking

In [167]:
tuple("Simplilearn")

('S', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n')

In [168]:
list("Simplilearn")

['S', 'i', 'm', 'p', 'l', 'i', 'l', 'e', 'a', 'r', 'n']

In [169]:
print(num)

(1, 2, 3, 4)

In [170]:
a,b,c,d=num

In [171]:
print(a,b,c,d)

1 2 3 4

In [172]:
print(a)

1

In [174]:
print(1)

1

In [175]:
print(b,b,c)

2 2 3

In [176]:
a,*b,c=num
print(a,b,c)

1 [2, 3] 4

In [177]:
# deleting a tuple

In [178]:
tuple1=(1,2,3,4)
print(tuple1)

(1, 2, 3, 4)

In [179]:
del tuple1

In [180]:
print(tuple1)

NameError: name 'tuple1' is not defined

In [ ]:
# Built in Function

In [181]:
num1=(3,5,2,2,2,2,6,5,8)

In [193]:
num1.count(2)

4

In [194]:
len(num1)

9

In [196]:
max(num1)

8

In [197]:
min(num1)

2

In [198]:
# converting list to tuple

In [200]:
lst=[1,2,3,4]
print(type(lst))

<class 'list'>

In [201]:
tpl=tuple(lst)

In [203]:
tpl

(1, 2, 3, 4)

In [204]:
type(tpl)

tuple

In [205]:
tpl1 = (2,3,3,4)

In [207]:
lst1=list(tpl1)

TypeError: 'list' object is not callable

In [208]:
# Nesting tuples in a list

In [209]:
lst=[(1,2,3),(4,5,6)]

In [210]:
print(lst)

[(1, 2, 3), (4, 5, 6)]

In [212]:
lst.append(("Tuple","Inside","list"))

In [213]:
lst

[(1, 2, 3), (4, 5, 6), ('Tuple', 'Inside', 'list')]

In [214]:
lst.remove((1,2,3))

In [215]:
print(lst)

[(4, 5, 6), ('Tuple', 'Inside', 'list')]

In [216]:
# Nesting lists within tuples

In [217]:
tpl=(['a','b','c'], ['d','e','f'])

In [218]:
print(tpl)

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [219]:
tpl[0].append('z')

In [220]:
tpl

(['a', 'b', 'c', 'z'], ['d', 'e', 'f'])

In [221]:
tpl[0].remove('z')

In [222]:
tpl

(['a', 'b', 'c'], ['d', 'e', 'f'])

In [223]:
tpl.append(['x','y','z'])
print(tpl)

AttributeError: 'tuple' object has no attribute 'append'

In [ ]:
# Strings

In [225]:
stg="Simplilearn"
print(stg)

Simplilearn

In [227]:
stg = "Tm's Birthday"
stg

"Tm's Birthday"

In [228]:
stg1='Tim\'s Birthday'
stg1

"Tim's Birthday"

In [230]:
stg = "Tim said, 'I am busy today'"
stg

"Tim said, 'I am busy today'"

In [232]:
name = 'Augustine "Ogelo" Ogechi'
name

'Augustine "Ogelo" Ogechi'

In [234]:
stg = '''hey there!
Welcome to Simplilearn '''
print(stg)

hey there!
Welcome to Simplilearn

In [237]:
stg = "Simplilear n"
print(len(stg))

12

In [238]:
stg="Simplilearn"
stg[5]

'i'

In [239]:
stg[:5]

'Simpl'

In [240]:
stg[5:]

'ilearn'

In [241]:
stg[::1]

'Simplilearn'

In [242]:
stg[::2]

'Smllan'

In [243]:
stg[::-1]

'nraelilpmiS'

In [247]:
stg

'Simplilearn'

In [248]:
list(stg)

TypeError: 'list' object is not callable

In [249]:
list("Simplilearn")

TypeError: 'list' object is not callable

In [250]:
stg

'Simplilearn'

In [252]:
split("Simplilearn")

NameError: name 'split' is not defined

In [253]:
word = 'geeks'
print(split(word))

NameError: name 'split' is not defined

In [257]:
word = "Simplilearn"
def split(word):
    return list(word)
split(word)

TypeError: 'list' object is not callable